<div class="row">
  <img [src]="" alt="" class="rounded img-fluid" width="50%">
</div>
<h1>Recipe name</h1>
<div class="uk-button-group">
  <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
  <ul class="dropdown-menu">
    <li><a href="#">To Shopping List</a></li>
    <li><a href="#">Edit Recipe</a></li>
    <li><a href="#">Delete Recipe</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-sm-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    Ingredients
  </div>
</div>