<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name" class="form-check-label">Name</label>
          <input type="text" class="form-control" id="name" #name>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount" class="form-check-label">Amount</label>
          <input type="number" class="form-control" id="amount" #amount>
        </div>
        <div class="col-sm-2 form-group">
          <label for="unit" class="form-check-label">Unit</label>
          <input type="text" class="form-control" id="unit" #unit>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
          class="btn btn-success"
          type="button"
          (click) = "onAddIngredient(name, amount, unit)"
          >Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>