<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-sm-5 no-padding-r form-group">
          <label for="name" class="form-check-label">Name</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="col-sm-2 no-padding-r form-group">
          <label for="amount" class="form-check-label">Amount</label>
          <input type="number" class="form-control" id="amount">
        </div>
        <div class="col-sm-2 no-padding-r form-group">
          <label for="unit" class="form-check-label">Unit</label>
          <input type="text" class="form-control" id="unit">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success margin-r" type="submit">Add</button>
          <button class="btn btn-danger margin-r" type="button">Delete</button>
          <button class="btn btn-primary margin-r" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>